.offertxt{
    position: absolute!important;
    top: 220px;
    right: 160px;
}
.hometxt{
    margin-top: 145px;
}
.googlefnt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.navbr{
    padding-top: 60px!important;
}
.style{
    list-style-type: none;
    padding: 0%;
}
@media only screen and (max-width: 768px) {

}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    
}